.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}


.col {  
    padding: 10px;
}

img:not(.fluid-img)
 {width:50px; height:auto;
}